/* Custom made */
.lastRowSelected{
	-fx-font-weight: 800;
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(102,153,102) 0.0, rgb(179,230,179) 100.0);
}
.toastMessage{
	-fx-font-weight:bold;
	-fx-font-style: italic ;
	-fx-background-color: linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(53,200,244) 0.0, rgb(255,255,255) 100.0);
}
.tooltipHover{
	-fx-background-color: #7F00FF;
	-fx-text-fill: white;
	-fx-font-size:15;
	-fx-font-weight:bold;
}
.noteButton{
	-fx-background-color: #7F00FF;
	-fx-text-fill:white;
	-fx-font-size:13;
	-fx-font-weight:bold;
}

.nameLabel{
	-fx-border-radius:5;
	-fx-border-width:2;
	-fx-border-color: #0097A7;
	-fx-font-weight:bold;
	-fx-padding: 2px;
}

/* From bootstrapv3 */
/*success*/

.button.success,.split-menu-button.success,.toggle-button.success,.menu-button.success,
.split-menu-button.success > .label, .split-menu-button.success > .arrow-button {
	-fx-background-color: #5cb85c;
}

.button.success,.menu-button.success,.toggle-button.success,
.split-menu-button.success > .label,.split-menu-button.success > .arrow-button {
	-fx-border-color: #4cae4c;
	-fx-text-fill: white;
}
/*info*/

.button.info,.split-menu-button.info,.toggle-button.info,.menu-button.info,
.split-menu-button.info > .label, .split-menu-button.info > .arrow-button {
	-fx-background-color: #5bc0de;
}

.button.info,.menu-button.info,.toggle-button.info,
.split-menu-button.info > .label,.split-menu-button.info > .arrow-button {
	-fx-border-color: #46b8da;
	-fx-text-fill: white;
}

/*warning*/

.button.warning,.split-menu-button.warning,.toggle-button.warning,.menu-button.warning,
.split-menu-button.warning > .label, .split-menu-button.warning > .arrow-button {
	-fx-background-color: #f0ad4e;
}

.button.warning,.menu-button.warning,.toggle-button.warning,
.split-menu-button.warning > .label,.split-menu-button.warning > .arrow-button {
	-fx-border-color: #eea236;
	-fx-text-fill: white;
}

/*danger*/

.button.danger,.split-menu-button.danger,.toggle-button.danger,.menu-button.danger,
.split-menu-button.danger > .label, .split-menu-button.danger > .arrow-button {
	-fx-background-color: #d9534f;
}

.button.danger,.menu-button.danger,.toggle-button.danger,
.split-menu-button.danger > .label,.split-menu-button.danger > .arrow-button {
	-fx-border-color: #d43f3a;
	-fx-text-fill: white;
}